<div class="row row-content align-items-center" id="cardsee">
    <div class="col-12 col-sm-8  offset-sm-2">
        <div class="card mb-4" >
            <h3 class="card-header bg-warning text-white">Reserve a Table</h3>
            <div class="card-body">
                <form >
                    <div class="form-group row padd">
                        <dl class="row padd">
                            <dt class="col-12 col-md-3 ">Number Of Guests</dt>
                            <dd class="col-12 col-md-9">
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" name="radiobtn" id="radiobtn" value="1">
                                    <label for="radiobtn" class="form-check-label">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" name="radiobtn" id="radiobtn" value="1">
                                    <label for="radiobtn" class="form-check-label">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" name="radiobtn" id="radiobtn" value="1">
                                    <label for="radiobtn" class="form-check-label">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" name="radiobtn" id="radiobtn" value="1">
                                    <label for="radiobtn" class="form-check-label">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" name="radiobtn" id="radiobtn" value="1">
                                    <label for="radiobtn" class="form-check-label">5</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" name="radiobtn" id="radiobtn" value="1">
                                    <label for="radiobtn" class="form-check-label">6</label>
                                </div>
                            </dd>
                        </dl>
                        <dl class="row padd">
                            <dt class=" col-12 col-md-2">Date and Time</dt>
                            <dd class="col-12 col-md-5"> 
                                <input type="text" class="form-control" id="Date" name="Date" placeholder="Date">
                            </dd>
                            <dd class="col-12 col-md-5">
                                <input type="text" class="form-control" id="Time" name="Time" placeholder="Time">
                            </dd>
                        </dl>
                        <dl class="row padd">
                            <dd class="col-12 offset-sm-11">
                                <button type="submit" class="btn btn-primary">Reserve</button>
                            </dd>
                        </dl>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>