<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" role="tab" href="#peterpan">Peter Pan, CEO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " data-toggle="tab" role="tab" href="#Dhanasekaran">Danny Witherspoon, CFO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " data-toggle="tab" role="tab" href="#Agumbe">Agumbe Tang, CTO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " data-toggle="tab" role="tab" href="#Alberto">lberto Somayya, Exec. Chef</a>
    </li>

</ul>