<a role="button" data-target="#Reservemodal" class="btn btn-warning btn-block btn-lg" data-toggle="tooltip" data-html="true" title="or call us at <br> <strong>+852 12345678</strong>" data-placement="bottom" >Reserve Table</a>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>